.movie-card {
    color:  rgba(255, 255, 255, 0.87);
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.movie-card svg {
    color: yellow;
}

.movieCardImage {
    border-radius: 1.2rem;
    width: 190px;
    margin-bottom: 1rem;
    transition: filter 300ms;
    transition: all 0.3s;
}
.movieCardImage:hover{
    filter: drop-shadow(0 0 1em #646cff9c);
    transform: scale(1.1)
}

p {
    padding-top: 7px;
}