.container .title {
    color:  rgba(255, 255, 255, 0.87);
    font-size: 2rem;
    text-align: left;
    margin: 2.3rem 2rem 0rem;
}

.movies-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
}
