#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 16px 16px;
    padding: 0.1rem 1rem;
    background-color: #05050536;
    box-shadow: 0 24px 24px #646cff2a;
}

.logo {
    height: 50px;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cff);
}

#navbar h3 a{
    font-size: 29px;
    color:  rgba(255, 255, 255, 0.87);
    display: flex;
    align-items: center;
    text-decoration: none !important;
    margin-top: 11px;
}

#navbar form {
    display: flex;
    gap: 0.4rem;

}
#navbar input {
    border-radius: 6px;
    border: 1px solid transparent;
    padding: 5px;
    font-size: 16px;
    transition: border-color 0.25s;
    font-family: inherit;
}

#navbar form input:hover {
    border-color: #646cff;
}
#navbar form input:focus {
    outline: 0px auto -webkit-focus-ring-color;
}

#navbar form button {
    border-radius: 15px;
    border: 1px solid transparent;
    padding: 6px 6px 3px 6px; 
    font-size: 1em;
    font-weight: 400;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
}
#navbar form button:hover {
    border-color: #646cff;
}
#navbar form button:focus,
#navbar form button:focus-visible{
    outline: 0px auto -webkit-focus-ring-color;
}

.nav-links a {
    text-decoration: none;
    padding-right: 1.5rem;
    padding-left: 2rem;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.87);
    transition: 0.4s;
}

.nav-links a:hover {
    color: #646cff;
}