.movie {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.8rem;
    margin: 4rem;
    background: rgb(161,161,161);
    background: radial-gradient(circle, rgba(161,161,161,1) 0%, rgba(63,79,98,1) 100%);
    height: fit-content;
    box-shadow: 9px 10px 9px #646cff42;
}

.imgMovie {
    border-radius: 14px 0px 0px 14px;
}

.movieTitle {
    margin: 3rem 0;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4rem;
}
